@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display');
@import url('https://fonts.googleapis.com/css?family=Thasadith:400,700');

#Nameheader {
    position: relative;
    font-size: 50px;
    font-style: normal;
    font-family: 'Major Mono Display', monospace;
    color: darkgrey;
}

#email
{
    color: black;
}
#picture
{
    position: absolute;
    margin-top: 100px;
    margin-left: 100px;
}

#aboutme
{
    font-family: 'Thasadith', sans-serif;
    font-weight: 700;
    position: absolute;
    margin-left: 875px;
    margin-top: 125px;
    color: black;
}

#aboutmetext
{
    font-family: 'Thasadith', sans-serif;
    position: absolute;
    margin-left: 640px;
    margin-top: 175px;
    color: grey;
}

.circles
{
    margin-left: -100px;
}

#circle
{
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: black;
    border-radius: 50%;
    margin-top: 550px;
    margin-left: 350px;
}

#circle2
{
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: grey;
    border-radius: 50%;
    margin-top: 550px;
    margin-left: 380px;
}

#circle3
{
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: lightgrey;
    border-radius: 50%;
    margin-top: 550px;
    margin-left: 410px;
}



a:link
{
    color: black;
    font-style: normal;
    text-decoration: none;
}

a:visited
{
    color: black;
    font-style: normal;
     text-decoration: none;
}

a:hover
{
    color: ghostwhite;
    font-style: normal;
     text-decoration: none;
}

a:active
{
    color: dimgrey;
    font-style: normal;
     text-decoration: none;
}

.links
{
    position: center;
    padding-top: 50px;
    text-decoration: none;
}

#resume {
    font-family: 'Thasadith', sans-serif;
    margin-left: 500px;
    position: absolute;
    padding-right: 0;
    color: black;
}
#github {
    font-family: 'Thasadith', sans-serif;
    position: absolute;
    margin-left: 750px;
    color: black;
}
#linked {
    font-family: 'Thasadith', sans-serif;
    position: absolute;
    margin-left: 1000px;
    color: black;
}

